# nvidia
*.ncu-rep


### Custom ####
_build
_local
_external_src
_reports
tmp
testdata
simple_mesh*.nc
/prof
.profile

### Sphinx ###
**/docs/_source/*.rst

### GT4Py ####
.gt4py_cache/

# DaCe
.dacecache
*.sdfg
.dace.conf

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build*/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# type checkers
.mypy_cache/
.pytype
.pyre

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# mkdocs documentation
/site

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
# .python-version

# Environments
.env*
.venv*
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Rope project settings
.ropeproject

### Editors ###
# Pycharm project settings
.idea/

# VSCode project settings
.vscode

# SublimeText project settings
*.sublime-project
*.sublime-workspace

# Spyder project settings
.spyderproject
.spyproject

# SpaceVim altfiles settings
.project_alt.json

### Others ###
.obsidian
img/offsetProvider_e2c2e.png
img/offsetProvider_c2e2co.png
test_out_unstr.txt
test_out_interp_cellC.txt
test_out_interp_cellC_unstr.txt
test_out_horiz_mom.txt
test_out_horiz_mom_unstr.txt
out.txt
out_gtfn.txt
compare_out.txt
img/offsetProvider_c2e2c.png
img/offsetProvider_e2c2v.png
img/offsetProvider_v2e.png
img/offsetProvider_e2v.png
img/offsetProvider_parallelogram_c2e.png
img/offsetProvider_e2c.png
*out*.txt
err*.txt
stencil_reference.txt
debug_out/*
output/*
slurm_*
*.txt
